<h2 class="title has-text-centered">
  <%= project.name %>
</h2>

<div class="tabs">
  <ul>
    <li><%= link_to '任务列表', tasks_me_project_path(project), class: active_helper(projects: 'tasks', tasks: ['show', 'content'], task_timers: 'index') %></li>
    <li><%= link_to '项目信息', me_project_path(project), class: active_helper(projects: 'show') %></li>
    <li><%= link_to '流水线', me_project_task_templates_path(project), class: active_helper(controllers: ['task_templates']) %></li>
    <li><%= link_to '成员', me_project_members_path(project), class: active_helper(controllers: 'project_members') %></li>
    <li><%= link_to t('bench.me.project_funds.index.title'), me_project_funds_path(project), class: active_helper(controllers: 'project_funds') %></li>
  </ul>
</div>
