<td><%= model.indicator.name %></td>
<td>
  <span><%= model.value  %></span>
  <span class="has-text-grey"><%= model.indicator.unit %></span>
</td>
<td><%= model.recorded_on %></td>
<td><%= model.comment %></td>
