<tr>
  <td><%= project_indicator.indicator.name %></td>
  <td>
    <span><%= project_indicator.value  %></span>
    <span class="has-text-grey"><%= project_indicator.indicator.unit %></span>
  </td>
  <td><%= project_indicator.recorded_on %></td>
  <td><%= project_indicator.comment %></td>
  <td>
    <%= link_to({ action: 'show', id: project_indicator.id }, { aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: project_indicator.id }, aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: project_indicator.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
