<tr>
  <td class="has-text-right"><%= ProjectIndicator.human_attribute_name(:value) %></td>
  <td><%= @project_indicator.value %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ProjectIndicator.human_attribute_name(:recorded_on) %></td>
  <td><%= @project_indicator.recorded_on %></td>
</tr>
<tr>
  <td class="has-text-right"><%= ProjectIndicator.human_attribute_name(:comment) %></td>
  <td><%= @project_indicator.comment %></td>
</tr>
