<div>
  <dt><%= Bench::ProjectIndicator.human_attribute_name(:value) %></dt>
  <dd><%= @project_indicator.value %></dd>
</div>
<div>
  <dt><%= Bench::ProjectIndicator.human_attribute_name(:recorded_on) %></dt>
  <dd><%= @project_indicator.recorded_on %></dd>
</div>
<div>
  <dt><%= Bench::ProjectIndicator.human_attribute_name(:comment) %></dt>
  <dd><%= @project_indicator.comment %></dd>
</div>
