<tr>
  <td><%= expense.subject %></td>
  <td><%= expense.amount %></td>
  <td><%= expense.note %></td>
  <td><%= expense.financial_taxon.name %></td>
  <td><%= expense.invoices_count %></td>
  <td>
    <%= link_to({ action: 'show', project_id: @project.id, id: expense.id }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', project_id: @project.id, id: expense.id }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', project_id: @project.id, id: expense.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
