<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= link_to t('.edit.title'), { action: 'edit', project_id: @project.id, id: @expense.id }, class: 'button is-small is-link' %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= Finance::Expense.human_attribute_name(:subject) %></td>
      <td><%= @expense.subject %></td>
    </tr>
    <tr>
      <td><%= Finance::Expense.human_attribute_name(:amount) %></td>
      <td><%= @expense.amount %></td>
    </tr>
    <tr>
      <td><%= Finance::Expense.human_attribute_name(:note) %></td>
      <td><%= @expense.note %></td>
    </tr>
    <tr>
      <td><%= Finance::Expense.human_attribute_name(:financial_taxon_id) %></td>
      <td><%= @expense.financial_taxon&.name %></td>
    </tr>
    <tr>
      <td><%= Finance::Expense.human_attribute_name(:invoices_count) %></td>
      <td><%= @expense.invoices_count %></td>
    </tr>
  </tbody>
</table>
