<div>
  <dt><%= Finance::Expense.human_attribute_name(:subject) %></dt>
  <dd><%= @expense.subject %></dd>
</div>
<div>
  <dt><%= Finance::Expense.human_attribute_name(:amount) %></dt>
  <dd><%= @expense.amount %></dd>
</div>
<div>
  <dt><%= Finance::Expense.human_attribute_name(:note) %></dt>
  <dd><%= @expense.note %></dd>
</div>
<div>
  <dt><%= Finance::Expense.human_attribute_name(:financial_taxon_id) %></dt>
  <dd><%= @expense.financial_taxon&.name %></dd>
</div>
<div>
  <dt><%= Finance::Expense.human_attribute_name(:invoices_count) %></dt>
  <dd><%= @expense.invoices_count %></dd>
</div>
