<%= render partial: 'project_bar', locals: { project: @project } %>

<section class="columns">
  <div class="column">
    <%= Project.human_attribute_name(:fund_budget) %>： <%= @project.fund_budget %>
  </div>
  <div class="column">
    <%= Project.human_attribute_name(:fund_amount) %>： <%= @project.fund_amount %>
  </div>
</section>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= FundUse.human_attribute_name(:fund_id) %></th>
      <th><%= FundUse.human_attribute_name(:budget_amount) %></th>
      <th><%= FundUse.human_attribute_name(:amount) %></th>
      <th><%= FundUse.human_attribute_name(:note) %></th>
      <th>
        <%= link_to({ action: 'new', project_id: @project.id }, { remote: true, class: 'button is-small is-link' }) do %>
          <i class="fas fa-plus"></i><span><%= t('.new') %></span>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @fund_uses.each do |fund_use| %>
      <tr>
        <td><%= fund_use.fund.name %></td>
        <td><%= fund_use.budget_amount %></td>
        <td><%= fund_use.amount %></td>
        <td><%= fund_use.note %></td>
        <td>
          <%= link_to({ action: 'edit', project_id: @project.id, id: fund_use.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to({ action: 'destroy', project_id: @project.id, id: fund_use.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
