<th><%= Project.human_attribute_name(:name) %></th>
<th><%= Project.human_attribute_name(:description) %></th>
<th>
  <p class="has-text-danger"><%= Project.human_attribute_name(:fund_budget) %>/<%= Project.human_attribute_name(:fund_amount) %></p>
  <p><%= Project.human_attribute_name(:expense_budget) %>/<%= Project.human_attribute_name(:expense_amount) %></p>
</th>
<th><%= Project.human_attribute_name(:creator_id) %></th>
<th>
  <p><%= link_to Project.human_attribute_name(:milepost_id), { controller: 'mileposts', action: 'index' }, text: true %></p>
</th>
<% @project_taxon.parameters.each do |parameter, _| %>
  <th><%= parameter %></th>
<% end %>
<th></th>
