<th><%= Bench::Project.human_attribute_name(:name) %></th>
<th><%= Bench::Project.human_attribute_name(:description) %></th>
<th>
  <p class="has-text-danger"><%= Bench::Project.human_attribute_name(:fund_budget) %>/<%= Bench::Project.human_attribute_name(:fund_amount) %></p>
  <p><%= Bench::Project.human_attribute_name(:expense_budget) %>/<%= Bench::Project.human_attribute_name(:expense_amount) %></p>
</th>
<th>
  <p><%= link_to Bench::Project.human_attribute_name(:milepost_id), { controller: 'mileposts', action: 'index' }, text: true %></p>
</th>
<% @taxon.parameters.each do |parameter, _| %>
  <th><%= parameter %></th>
<% end %>
<th></th>
