<div>
  <dt><%= Bench::Project.human_attribute_name(:name) %></dt>
  <dd><%= @project.name %></dd>
</div>
<div>
  <dt><%= Bench::Project.human_attribute_name(:created_at) %></dt>
  <dd><time data-controller="time"><%= @project.created_at.to_fs(:iso8601) %></time></dd>
</div>
<% @project.extra.each do |k, v| %>
<div>
  <dt><%= k.to_s %></dt>
  <dd><%= v %></dd>
</div>
<% end %>
