<tr>
  <td><%= Bench::Project.human_attribute_name(:name) %></td>
  <td><%= @project.name %></td>
</tr>
<tr>
  <td><%= Bench::Project.human_attribute_name(:created_at) %></td>
  <td><time data-controller="time"><%= @project.created_at.to_fs(:iso8601) %></time></td>
</tr>
<% @project.extra.each do |k, v| %>
<tr>
  <td><%= k.to_s %></td>
  <td><%= v %></td>
</tr>
<% end %>
