<%= render 'filter_form' %>
<%= render 'filter_table' %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <p>
          <%= Project.human_attribute_name(:project_taxon_id) %>
          <%= link_to admin_project_taxons_path, aria: { label: t('bench.admin.project_taxons.index.title') } do %>
            <i class="fas fa-cog"></i>
          <% end %>
        </p>
        <p>
          <%= Project.human_attribute_name(:project_stage_id) %>
          <%= link_to admin_project_stages_path, aria: { label: t('bench.admin.project_stages.index.title') } do %>
            <i class="fas fa-cog"></i>
          <% end %>
        </p>
      </th>
      <th><%= Project.human_attribute_name(:name) %></th>
      <th><%= Project.human_attribute_name(:description) %></th>
      <th>
        <p class="has-text-danger"><%= Project.human_attribute_name(:budget) %></p>
        <p><%= Project.human_attribute_name(:fund_amount) %></p>
      </th>
      <th><%= Project.human_attribute_name(:creator_id) %></th>
      <th><%= Project.human_attribute_name(:state) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td>
        <p><%= project.project_taxon&.name %></p>
        <p><%= project.project_stage&.name %></p>
      </td>
      <td><%= link_to project.name, admin_project_path(project) %></td>
      <td><%= project.description %></td>
      <td>
        <p class="has-text-danger"><%= link_to project.budget, admin_project_funds_path(project) %></p>
        <p><%= link_to project.fund_amount, admin_project_expenses_path(project) %></p>
      </td>
      <td><%= project.creator.name %></td>
      <td><%= project.state_i18n %></td>
      <td>
        <%= link_to admin_project_path(project), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_project_path(project), remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_project_path(project), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @projects %>
