<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= FacilitateProvider.human_attribute_name(:name) %></th>
      <th><%= FacilitateProvider.human_attribute_name(:provider_id) %></th>
      <th><%= FacilitateProvider.human_attribute_name(:note) %></th>
      <th><%= FacilitateProvider.human_attribute_name(:selected) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% facilitate_providers.each do |facilitate_provider| %>
    <tr>
      <td><%= link_to facilitate_provider.facilitate.name, facilitate_path(facilitate_provider.facilitate_id) %></td>
      <td><%= facilitate_provider.provider.name %></td>
      <td><%= facilitate_provider.note %></td>
      <td>
        <div data-controller="input">
          <%= check_box_tag '[facilitate_provider]selected', nil, facilitate_provider.selected, data: { method: :patch, remote: true, url: panel_facilitate_facilitate_provider_path(@facilitate, facilitate_provider), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
          <label></label>
        </div>
      </td>
      <td><%= link_to '服务管理', admin_facilitate_provider_path(facilitate_provider) %></td>
      <td>
        <%= link_to edit_admin_facilitate_provider_path(facilitate_provider), remote: true, aria: { label: t('.edit') }, class: 'button is-small is-rounded' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_facilitate_provider_path(facilitate_provider), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
