<h2 class="">
  <%= @facilitate_provider.facilitate.name %>
</h2>

<div class="tabs">
  <ul>
    <li class="<%= active_helper('facility/me/facilitate_providers': ['task_templates'], active: 'is-active') %>"><%= link_to '任务列表', task_templates_me_facilitate_provider_path(@facilitate_provider) %></li>
    <li class="<%= active_helper(facilitate_providers: 'show', active: 'is-active') %>"><%= link_to '项目信息', me_facilitate_provider_path(@facilitate_provider) %></li>
  </ul>
</div>
