<% content_for :title, @facilitate.name %>
<% content_for :meta_description, @facilitate.description %>

<h1 class="title has-text-centered">
  <%= @facilitate.name %>
</h1>

<div class="columns">
  <div class="column">
    <div class="tabs">
      <ul>
        <li>
          <%= link_to({ action: 'show', id: @facilitate.id }) do %>
            <i class="fa-solid fa-home"></i>
            <span class="pl-1">服务信息</span>
          <% end %>
        </li>
        <li>
          <%= link_to({ action: 'show', id: @facilitate.id }) do %>
            <i class="fa-solid fa-circle-info"></i>
            <span class="pl-1">服务商信息</span>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="box">
      <%= simple_format @facilitate.description %>
    </div>
    <%# render partial: 'store/goods/show/items', locals: { good: @good } %>
  </div>
  <div class="column is-narrow">
    <%= render partial: 'show_side', locals: { good: @facilitate } %>
  </div>
</div>
