<%= render 'top_bar' %>

<div class="weui-panel is-box">
  <%= render partial: 'covers', locals: { model: @facilitate } if @facilitate.covers.length > 0 %>
</div>

<div class="weui-panel is-box" style="z-index: 3">
  <div class="weui-panel__hd">
    <div><%= @facilitate.name %></div>
    <div>
      <span class="has-text-danger"><%= @facilitate.price.to_money.format.html_safe %></span>
      <span class="has-text-grey pl-2">预付</span>
      <span class="has-text-danger-dark"><%= @facilitate.advance_price.to_money.format.html_safe %></span>
    </div>
  </div>
  <div class="weui-panel__bd p-4">
    <p><%= @facilitate.description %></p>
  </div>
</div>

<div class="weui-panel is-box">
  <div class="weui-panel__hd">服务人员</div>
  <div class="weui-panel__bd">
    <%= render partial: 'facilitator', collection: @facilitate.facilitators, as: :model %>
  </div>
</div>
