<%= render partial: 'project_bar', locals: { project: @project } %>

<div class="columns">
  <div class="column">
    <% @task_templates.each do |task_template| %>
      <%= render partial: 'index_item', locals: { task_template: task_template } %>
    <% end %>
    <div id="item_add">
      <%= link_to new_me_project_task_template_path(@project) do %>
        <i class="fa-regular fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <p class="panel-heading"><%= @project.project_taxon.name %></p>
      <div class="box">
      <% @project.project_taxon.task_templates.each do |task_template| %>
        <%= render partial: 'index_item', locals: { task_template: task_template } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
