<%= render partial: 'taxon_bar', locals: { taxon: @taxon } %>

<section class="columns">
  <div class="column">
    <%= Bench::Project.human_attribute_name(:fund_budget) %>： <%= @taxon.fund_budget %>
  </div>
  <div class="column">
    <%= Bench::Project.human_attribute_name(:fund_expense) %>： <%= @taxon.fund_expense %>
  </div>
</section>

<%= render layout: 'index_table' do %>
  <%= render partial: 'index_tbody', collection: @budgets, as: :fund_budget %>
<% end %>

<%= paginate @budgets %>
