<tr>
  <td><%= project_stage.name %></td>
  <td><%= project_stage.begin_on %></td>
  <td><%= project_stage.end_on %></td>
  <td><%= project_stage.projects_count %></td>
  <td>
    <%= link_to admin_fund_budgets_path(financial_type: 'ProjectStage', financial_id: project_stage.id), aria: { label: t('bench.admin.fund_budgets.index.title') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-hand-holding-usd"></i>
    <% end %>
    <%= link_to({ action: 'show', id: project_stage }, aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: project_stage.id }, aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: project_stage.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
