<div>
  <dt><%= Bench::ProjectStage.human_attribute_name(:name) %></dt>
  <dd><%= @project_stage.name %></dd>
</div>
<div>
  <dt><%= Bench::ProjectStage.human_attribute_name(:begin_on) %></dt>
  <dd><%= @project_stage.begin_on %></dd>
</div>
<div>
  <dt><%= Bench::ProjectStage.human_attribute_name(:end_on) %></dt>
  <dd><%= @project_stage.end_on %></dd>
</div>
