<tr>
  <td><%= Bench::ProjectStage.human_attribute_name(:name) %></td>
  <td><%= @project_stage.name %></td>
</tr>
<tr>
  <td><%= Bench::ProjectStage.human_attribute_name(:begin_on) %></td>
  <td><%= @project_stage.begin_on %></td>
</tr>
<tr>
  <td><%= Bench::ProjectStage.human_attribute_name(:end_on) %></td>
  <td><%= @project_stage.end_on %></td>
</tr>
