<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('bench.admin.projects.index.title'), admin_projects_path %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= ProjectStage.human_attribute_name(:name) %></th>
      <th><%= ProjectStage.human_attribute_name(:begin_on) %></th>
      <th><%= ProjectStage.human_attribute_name(:end_on) %></th>
      <th><%= ProjectStage.human_attribute_name(:state) %></th>
      <th>
        <%= link_to new_admin_project_stage_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @project_stages.each do |project_stage| %>
    <tr>
      <td><%= project_stage.name %></td>
      <td><%= project_stage.begin_on %></td>
      <td><%= project_stage.end_on %></td>
      <td><%# project_stage.state %></td>
      <td>
        <%= link_to admin_fund_budgets_path(financial_type: 'ProjectStage', financial_id: project_stage.id), aria: { label: t('bench.admin.fund_budgets.index.title') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-hand-holding-usd"></i>
        <% end %>
        <%= link_to admin_project_stage_path(project_stage), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_project_stage_path(project_stage), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_project_stage_path(project_stage), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @project_stages %>
