<div class="<%= task.done? ? 'level is-underline has-background-white-ter' : 'level is-underline' %>" id="task_<%= task.id %>" data-id="<%= task.id %>" data-url="<%= url_for(controller: 'tasks', action: 'reorder', id: task.id) %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <div class="level-item">
      <i class="fa-solid fa-fw fa-bars has-text-grey is-drawable"></i>
    </div>
    <%= render partial: 'title_item', locals: { task: task } %>
  </div>
  <div class="level-right">
    <% blank_items = [] %>
    <% ['estimated_time', 'cost_fund', 'cost_stock', 'deadline_on', 'member', 'focus', 'state'].each do |item| %>
      <% if task.public_send(item).blank? %>
      <div class="level-item">
        <%= render partial: "#{item}_add", locals: { task: task } %>
      </div>
      <% else %>
        <% blank_items << item %>
      <% end %>
    <% end %>
    <div class="level-item" data-show-target="item" style="visibility: hidden">
      <%= button_to({ controller: 'tasks', action: 'destroy', id: task.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.confirm') } }) do %>
        <i class="fa-solid fa-trash fa-fw has-text-danger"></i>
      <% end %>
    </div>
    <% blank_items.each do |item| %>
      <div class="level-item">
        <%= render partial: "#{item}_item", locals: { task: task } %>
      </div>
    <% end %>
    <div class="level-item">
      <time data-controller="time" class="has-text-grey"><%= task.created_at.to_fs(:iso8601) %></time>
    </div>
  </div>
</div>
