<div class="level-item" id="play_task_<%= task.id %>">
  <% if task.task_timer %>
  <div class="tags has-addons">
    <%= button_to({ controller: 'task_timers', action: 'pause', task_id: task.id, id: task.task_timer }, method: 'patch', aria: { label: '暂停计时' }, class: 'tag') do %>
      <i class="fa-solid fa-fw fa-hourglass fa-flip text-success" style="--fa-flip-x: 1; --fa-flip-y: 0; --fa-animation-duration: 4s"></i>
    <% end %>
    <span class="tag is-light is-warning">
      <span>已开始：</span>
      <time data-controller="time-count" data-time-count-time-value="<%= task.task_timer.created_at.to_fs(:iso8601) %>"><%= exact_distance_time(task.task_timer.created_at, Time.current) %></time>
    </span>
  </div>
  <% else %>
  <div class="tags has-addons">
    <%= button_to({ controller: 'task_timers', action: 'create', task_id: task.id }, method: 'post', aria: { label: '开始计时' }, class: 'tag') do %>
      <i class="fa-solid fa-fw fa-hourglass-start text-primary"></i>
    <% end if task.today? %>
    <%= link_to({ controller: 'task_timers', task_id: task.id }, data: { turbo_frame: 'modal' }, class: 'tag is-light is-warning') do %>
      <span><%= task.actual_time %></span>
    <% end %>
  </div>
  <% end %>
</div>
