<div class="<%= task.done? ? 'level is-underline has-background-white-ter' : 'level is-underline' %>" id="task_<%= task.id %>" data-id="<%= task.id %>" data-url="<%= url_for(controller: 'tasks', action: 'reorder', id: task.id) %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <span style="width: <%= task.depth * 1.43 %>em; display: inline-block"></span>
    <div class="level-item">
      <% if @task&.id == task.id %>
        <i class="fa-light fa-check-square fa-fw has-text-success is-drawable"></i>
      <% else %>
        <i class="fa-light fa-bars fa-fw has-text-grey is-drawable"></i>
      <% end %>
      <%= link_to task.title, { controller: controller_path, action: action_name, task_id: task.id } %>
    </div>
    <div class="level-item" data-show-target="item" style="visibility: hidden">
      <%= link_to({ controller: 'tasks', action: 'edit', id: task.id }, data: { controller: 'common', action: 'common#link' }, aria: { label: t('.edit') }) do %>
        <i class="fa-solid fa-pencil has-text-grey"></i>
      <% end %>
    </div>
    <div class="level-item" data-show-target="item" style="visibility: hidden">
      <%= button_to({ controller: 'tasks', action: 'child', id: task.id }, method: :patch, aria: { label: 'å­ä»»åŠ¡' }) do %>
        <i class="fa-solid fa-diagram-nested fa-fw"></i>
      <% end %>
    </div>
  </div>
  <div class="level-right">
    <% blank_items = [] %>
    <% ['cost_fund', 'cost_stock', 'focus', 'state', 'member', 'estimated_time', 'deadline_on'].each do |item| %>
      <div class="level-item">
      <% if task.public_send(item).blank? %>
        <%= render partial: "#{item}_add", locals: { task: task } %>
      <% else %>
        <% blank_items << item %>
      <% end %>
      </div>
    <% end %>
    <div class="level-item">
      <%= button_to({ controller: 'tasks', action: 'destroy', id: task.id }, aria: { label: t('.destroy') }, data: { 'show-target': 'item', confirm: t('.confirm') }, method: :delete, style: 'visibility: hidden') do %>
        <i class="fa-solid fa-trash fa-fw has-text-danger"></i>
      <% end %>
    </div>
    <% blank_items.each do |item| %>
      <div class="level-item">
        <%= render partial: "#{item}_item", locals: { task: task } %>
      </div>
    <% end %>
    <div class="level-item">
      <time data-controller="time" class="has-text-grey"><%= task.created_at.to_fs(:iso8601) %></time>
    </div>
  </div>
</div>

<%= render partial: 'task', collection: task.children, as: :task if task.root? %>
