<div class="level-item">
  <% if @task&.id == task.id %>
    <i class="fa-light fa-check-square fa-fw has-text-success is-drawable"></i>
  <% else %>
    <i class="fa-light fa-bars fa-fw has-text-grey is-drawable"></i>
  <% end %>
  <%= link_to({ controller: controller_path, action: action_name, task_id: task.id }) do %>
    <span><%= task.title %></span>
    <% if task.children.size > 0 %>
      <span class="tag is-light"><%= task.children.size %></span>
    <% end %>
  <% end %>
</div>
<div class="level-item" data-show-target="item" style="visibility: hidden">
  <%= link_to({ controller: 'tasks', action: 'edit', id: task.id }, data: { controller: 'common', action: 'common#link' }, aria: { label: t('.edit') }) do %>
    <i class="fa-solid fa-fw fa-pencil has-text-grey"></i>
  <% end %>
</div>
<div class="level-item" data-show-target="item" style="visibility: hidden">
  <%= button_to({ controller: 'tasks', action: 'child', id: task.id }, method: :patch, aria: { label: '子任务' }) do %>
    <i class="fa-solid fa-fw fa-diagram-subtask has-text-grey"></i>
  <% end %>
</div>
