<div class="level-item">
  <%= link_to({ controller: controller_path, action: action_name, task_id: task.id }) do %>
    <span><%= task.title %></span>
    <% if task.children.size > 0 %>
      <span class="tag is-light"><%= task.children.size %></span>
    <% end %>
  <% end %>
</div>
<div class="level-item" data-show-target="item" class="visibility-hidden">
  <%= link_to({ controller: 'tasks', action: 'edit', id: task.id }, aria: { label: t('.edit.title') }, data: { controller: 'common', action: 'common#link' }) do %>
    <i class="fa-solid fa-fw fa-pencil color-grey"></i>
  <% end %>
</div>
<div class="level-item" data-show-target="item" class="visibility-hidden">
  <%= button_to({ controller: 'tasks', action: 'child', id: task.id }, method: :patch, aria: { label: '子任务' }) do %>
    <i class="fa-solid fa-fw fa-diagram-next color-grey"></i>
  <% end %>
</div>
