<div class="level is-underline" id="task_<%= task.id %>" data-id="<%= task.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <div class="level-item">
      <span style="visibility: hidden" data-show-target="item">
        <%= render partial: '_shared/rail', locals: { task: task } %>
      </span>
      <i class="fas fa-bars fa-fw has-text-grey is-drawable"></i>
    </div>
    <div class="level-item">
      <% if task.task_timer %>
        <i class="green hourglass start icon"></i>
      <% end %>
      <%= link_to task.title, me_task_path(task) %>
    </div>
  </div>
  <div class="level-right">
    <% if task.tasking %>
      <span class="tag"><%= task.tasking.name %></span>
    <% end %>
    <% if task.member %>
      <span class="tag"><%= task.job_title&.name %></span>
    <% end %>
    <span style="visibility: hidden;" data-show-target="item">
      <%= link_to me_task_path(task), aria: { label: t('.destroy') }, method: 'delete', remote: true do %>
        <i class="fas fa-trash fa-fw has-text-danger"></i>
      <% end %>
    </span>
  </div>
</div>
