<div class="<%= active_helper(id: task.id) %>" data-id="<%= task.id %>" id="task_<%= task.id %>">
  <div id="play_task_<%= task.id %>" class="level" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
    <div class="level-left">
      <div style="visibility: hidden" class="left-item" data-show-target="item">
        <%= render partial: '_shared/rail', locals: { task: task } %>
      </div>
      <div class="level-item">
        <i class="fas fa-bars"></i>
        <%= link_to task.title, my_task_path(task) %>
      </div>
    </div>
    <div class="level-right">
      <span style="visibility: hidden" data-show-target="item">
        <%= link_to my_task_path(task), aria: { label: t('.destroy') }, method: :delete, remote: true do %>
          <i class="fas fa-undo has-text-danger"></i>
        <% end %>
      </span>
    </div>
  </div>
  <% if task.id == @task.id %>
    <div class="box" data-controller="sortable" data-src="/my/tasks">
      <% task.children.each do |child| %>
        <%= render partial: '_show/item_child', locals: { task: child } %>
      <% end %>
      <div id="item_add">
        <%= link_to new_my_task_path(parent_id: @task.id), remote: true do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
