<div class="<%= active_helper(id: task.id) %>" data-id="<%= task.id %>" id="task_<%= task.id %>">
  <%= render partial: '_show/task', locals: { task: task } %>
  <% if task.id == @task.id %>
    <div class="box is-shadowless py-0 pr-0" data-controller="sortable" data-src="/me/tasks/">
      <% task.children.each do |child| %>
        <%= render partial: '_show/task', locals: { task: child } %>
      <% end %>
      <div id="item_add" class="level is-underline">
        <div class="level-left pl-6">
          <div class="level-item pl-5">
            <%= link_to new_me_task_path(parent_id: @task.id), remote: true do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
