<div id="task_worker_id" class="level is-underline">
  <div class="level-left">
    <div class="level-item">
      <span><%= @task.job_title&.name %></span>
    <% if @task.member %>
      <% if @task.member.avatar.attached? %>
        <%= image_tag @task.member.avatar, class: 'image is-32x32 is-rounded' %>
      <% else %>
        <%= image_pack_tag 'default_avatar.jpg', class: 'image is-24x24 is-rounded' %>
      <% end %>
      <span><%= @task.member.name %></span>
    <% end %>
    </div>
    <div class="level-item">
      <%= link_to assign_me_task_path(@task), aria: { label: '指派' }, remote: true do %>
        <i class="fas fa-hand-point-right"></i>
      <% end %>
    </div>
  </div>
  <div class="level-right">
    <div class="buttons are-small">
      <%= link_to '交接', next_me_task_path(@task), method: :patch, remote: true, class: 'button is-link' %>
      <%= link_to '返工', rework_me_task_path(@task), method: :patch, remote: true, class: 'button is-danger' %>
    </div>
  </div>
</div>
