<% if @task.pipeline %>
<tr id="task_edit_pipeline">
  <td>
    <%= @task.pipeline.name %>
  </td>
  <td>
    <div class="ui mini ordered steps">
    <% @task.pipeline.pipeline_members.includes(:job_title, :member).each do |member| %>
      <div class="<%= member.member_id == @task.member_id ? 'active step' : 'step' %>">
        <div class="content">
          <div class="title"><%= member.job_title&.name %></div>
          <div class="description"><%= member.member&.name %></div>
        </div>
      </div>
    <% end %>
    </div>
  </td>
  <td>
    <%= link_to edit_my_task_path(@task, item: 'pipeline'), remote: true do %>
      <i class="grey edit icon"></i>
    <% end %>
  </td>
</tr>

<% elsif @task.tasking %>
  <td colspan="3">
    <%= form_with model: @task, url: my_task_path, method: :patch, can: { wrap_all: false, offset: false } do |f| %>
      <%= hidden_field_tag :item, 'pipeline' %>
      <div class="inline fields">
        <%= f.collection_select :pipeline_id, @task.project.pipelines, :id, :name, can: { wrap_all: false } %>
        <%= f.submit %>
      </div>
    <% end %>
  </td>
<% end %>

