<tr id="task_worker_id">
  <td>
    <% if @task.user %>
      <% if @task.user.avatar.attached? %>
        <%= image_tag @task.user.avatar, class: 'ui avatar image' %>
      <% else %>
        <%= image_tag 'default_avatar.jpg', class: 'ui avatar image' %>
      <% end %>
      <span><%= @task.user.name %></span>
    <% end %>
  </td>
  <td>
    <%= link_to '交接', next_my_task_path(@task), method: :patch, class: 'button is-link is-small' %>
    <%= link_to '返工', rework_my_task_path(@task), method: :patch, class: 'button is-danger is-small' %>
  </td>
  <td></td>
</tr>
