<div class="level is-underline mb-1" data-id="<%= task_template.id %>" id="task_template_<%= task_template.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <div class="level-item">
      <i class="fa-solid fa-bars"></i>
      <span><%= task_template.title %></span>
    </div>
    <div class="level-item">
      <%= link_to({ action: 'edit_member', id: task_template.id }, aria: { label: '负责人' }, class: 'has-text-grey') do %>
        <i class="fa-regular fa-user-tie fa-fw"></i>
      <% end %>
      <span class="has-text-success"><%= task_template.job_title&.name %></span>
      <span class="has-text-primary"><%= task_template.member&.name %></span>
    </div>
    <div data-show-target="item" class="level-item visibility-hidden">
      <%= link_to({ action: 'edit', id: task_template.id, item: 'title' }, aria: { label: t('.edit.title') }, class: 'has-text-grey') do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
      <%= link_to({ action: 'destroy', id: task_template.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'has-text-danger') do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <%= link_to({ action: 'new', project_taxon_id: params[:project_taxon_id], parent_id: task_template.id }) do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="level-right"></div>
</div>
