<%= form_with model: [:admin, @facilitate] do |f| %>
  <%= render 'shared/error_messages', target: @facilitate %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label"><%= Facilitate.human_attribute_name(:facilitate_taxon_id) %></label>
    </div>
    <div class="field-body">
      <%= f.select :facilitate_taxon_id, options_from_collection_for_select(@facilitate_taxons, :id, :name, @facilitate.facilitate_taxon_id), { label: false, include_blank: true, wrap: { all: nil, select: 'field is-narrow > control > select is-fullwidth' } }, { class: '' } %>
      <%= link_to 'Add Taxon', new_admin_facilitate_taxon_path(return_to: request.path), remote: true, class: 'ui button' %>
    </div>
  </div>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.file_field :logo %>
  <%= f.submit %>
<% end %>
