<div>
  <dt><%= Bench::Facilitate.human_attribute_name(:name) %></dt>
  <dd><%= @facilitate.name %></dd>
</div>
<div>
  <dt><%= Bench::Facilitate.human_attribute_name(:description) %></dt>
  <dd><%= @facilitate.description %></dd>
</div>
<div>
  <dt><%= Bench::Facilitate.human_attribute_name(:price) %></dt>
  <dd><%= @facilitate.price %></dd>
</div>
<div>
  <dt><%= Bench::Facilitate.human_attribute_name(:card_price) %></dt>
  <dd><%= @facilitate.card_price %></dd>
</div>
<div>
  <dt><%= Bench::Facilitate.human_attribute_name(:unit) %></dt>
  <dd><%= @facilitate.unit %></dd>
</div>
<div>
  <dt><%= Bench::Facilitate.human_attribute_name(:created_at) %></dt>
  <dd><time data-controller="time"><%= @facilitate.created_at.to_fs(:iso8601) %></time></dd>
</div>
