<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:name) %></td>
  <td><%= @facilitate.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:price) %></td>
  <td><%= @facilitate.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:card_price) %></td>
  <td><%= @facilitate.card_price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Serve::Service.human_attribute_name(:unit) %></td>
  <td><%= @facilitate.unit %></td>
</tr>
