<%= render 'index_bar' %>
<%= render 'index_actions' %>

<%= render layout: 'index_table' do %>
<% @facilitates.group_by(&:facilitate_taxon).each do |taxon, facilitates| %>
  <tr>
    <td rowspan="<%= taxon.facilitates_count + 1 %>"><%= taxon.name %></td>
  </tr>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: facilitates, as: :model %>
<% end %>
<% end %>

<%= paginate @facilitates %>
