<%= render layout: 'layouts/application_head' do %>
  <body>
    <%= render 'nav_bar' %>
    <main class="columns">
      <div class="column is-narrow" style="width: 260px;">
        <%= render 'nav' %>
      </div>
      <div class="column as-body">
        <div class="columns as-main">
          <div class="column">
            <%= yield %>
          </div>
          <div class="column is-narrow" style="width: 260px;">
          
          </div>
        </div>
        <%= render 'footer' %>
      </div>
    </main>
    <div id="modal"></div>
  </body>
<% end %>
