<tr>
  <td><%= link_to project_taxon.name, { action: 'show', id: project_taxon.id }, text: true %></td>
  <td><%= simple_format project_taxon.parameters %></td>
  <td><%= link_to project_taxon.projects_count, { controller: 'projects', project_taxon_id: project_taxon.id }, text: true if project_taxon.projects_count %></td>
  <td>
    <%= link_to parameter_admin_project_taxon_path(project_taxon), aria: { label: t('.parameter') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-sitemap"></i>
    <% end %>
    <%= link_to edit_admin_project_taxon_path(project_taxon), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_project_taxon_path(project_taxon), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to admin_project_taxon_path(project_taxon), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
