<td><%= link_to model.facilitate.name, { controller: 'facilitates', action: 'show', id: model.facilitate_id } %></td>
<td><%= model.provider.name %></td>
<td><%= model.note %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :selected, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td><%= link_to '服务管理', { action: 'show', id: model.id } %></td>
