<th>
  <p><%= Project.human_attribute_name(:project_taxon_id) %></p>
</th>
<th><%= Project.human_attribute_name(:name) %></th>
<th><%= Project.human_attribute_name(:description) %></th>
<th>
  <p class="text-danger"><%= Project.human_attribute_name(:budget_amount) %></p>
  <p><%= Project.human_attribute_name(:expense_amount) %></p>
</th>
<th><%= Project.human_attribute_name(:state) %></th>
<th></th>
