<%= render partial: 'project_bar', locals: { project: @project } %>

<div class="ui segment">
   <div class="ui items">
     <div class="item">
       <div class="">
         github：
       </div>
       <div class="content">
         <%= @project.github_repo %>
         <%= link_to edit_me_project_path(@project) do %>
           <i class="fas fa-pencil-alt"></i>
         <% end %>
         <%# if @project.get_github_repo.present? %>
           <%# link_to 'open', @project.get_github_repo[:html_url], target: '_blank' %>
         <%# end %>

         <%= link_to 'add github hook', github_hook_me_project_path(@project), class: 'ui mini button' %>
       </div>
     </div>
   </div>
</div>

<%= render 'show_table' %>
