<td><%= link_to model.name, { controller: 'tasks', action: 'project', project_id: model.id } %></td>
<td><%= model.description %></td>
<td>
  <p class="has-text-danger"><%= link_to "#{model.fund_budget}/#{model.fund_expense}", { controller: 'bench/admin/fund_budgets', action: 'index', financial_type: 'Project', financial_id: model.id } %></p>
  <p><%= link_to "#{model.budget_amount}/#{model.expense_amount}", { controller: 'bench/admin/expenses', action: 'index', project_id: model.id } %></p>
</td>
<td>
  <% model.project_mileposts.each do |project_milepost| %>
    <p><%= project_milepost.milepost_name %>: <%= project_milepost.recorded_on %></p>
  <% end %>
  <%= link_to({ controller: 'project_mileposts', action: 'new', project_id: model.id }, { class: 'button is-small is-rounded' }) do %>
    <i class="fa-solid fa-step-forward"></i>
    <span class="pl-1"><%= '下一步' %></span>
  <% end %>
</td>
<td><%= simple_format(model.extra) %></td>
