<div class="ui top attached borderless menu">
  <div class="item header">用户列表</div>
  <div class="right menu">
    <div class="item">
      <%= link_to '新建', new_admin_worker_path, class: 'ui teal button', remote: true %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>ID</th>
      <th>职位</th>
      <th>Real Name</th>
      <th>Roles</th>
      <th>Status</th>
      <th>Disabled?</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @workers.each do |worker| %>
    <tr>
      <td><%= worker.id %></td>
      <td><%= worker.duty.name %></td>
      <td><%= worker.user_name %></td>
      <td>
        <div class="ui teal label"><%= worker.roles.pluck(:name).join(',') %></div>
      </td>
      <td><%= worker.status %></td>
      <td><%= worker.disabled %></td>
      <td>
        <% if worker.user_id.present? %>
          <%= link_to worker.user&.email, admin_user_url(worker.user_id) %>
        <% else %>
          <%= link_to '用户绑定', user_admin_worker_path(worker), class: 'ui blue label', remote: true %>
        <% end %>
      </td>
      <td>
        <%= link_to '详细', admin_worker_path(worker), class: 'ui blue label' %>
        <%= link_to '编辑', edit_admin_worker_path(worker), class: 'ui pink label', remote: true %>
        <%= link_to '删除', admin_worker_path(worker), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @workers %>