<th><%= Bench::Facilitate.human_attribute_name(:facilitate_taxon_id) %></th>
<th><%= Bench::Facilitate.human_attribute_name(:name) %></th>
<th>
  <p><%= Bench::Facilitate.human_attribute_name(:price) %></p>
  <p><%= Bench::Facilitate.human_attribute_name(:advance_price) %></p>
</th>
<th><%= Bench::Facilitate.human_attribute_name(:card_price) %></th>
<th><%= Bench::Facilitate.human_attribute_name(:wallet_price) %></th>
<th><%= Bench::Facilitate.human_attribute_name(:unit) %></th>
<th>评价指标</th>
