<div class="level-left">
  <div class="level-item" id="play_task_<%= @task.id %>">
    <% if @task.task_timer %>
      <%= link_to pause_me_task_task_timer_path(@task, @task.task_timer), method: 'patch' do %>
        <i class="fas fa-pause"></i>
      <% end %>
    <% else %>
      <%= link_to me_task_task_timers_path(@task), method: 'post' do %>
        <i class="fas fa-play"></i>
      <% end %>
    <% end %>
  </div>
  <div class="level-item">
    <%= form_with theme: nil, model: @task, url: { action: 'update' }, html: { class: 'form is-horizontal' } do |f| %>
      <div class="field-body">
        <div class="field">
          <%= f.text_field :title, class: 'input' %>
        </div>
        <div class="field is-narrow">
          <%= f.submit '保存', class: 'button is-primary' %>
          <button class="button is-light" data-controller="common" data-action="common#cancel">取消</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
