<div id="task_worker_id" class="level is-underline">
  <div class="level-left">
    <div class="level-item">
      <span><%= @task.job_title&.name %></span>
    <% if @task.member %>
      <% if @task.member.avatar.attached? %>
        <%= image_tag @task.member.avatar, class: 'image is-32x32 is-rounded' %>
      <% else %>
        <%= image_tag 'avatar.png', class: 'image is-24x24 is-rounded' %>
      <% end %>
      <span><%= @task.member.name %></span>
    <% end %>
    </div>
    <div class="level-item">
      <%= link_to({ action: 'edit_assign', id: @task.id }, aria: { label: '指派' }) do %>
        <i class="fa-regular fa-hand-point-right"></i>
      <% end %>
    </div>
  </div>
  <div class="level-right">
    <div class="buttons are-small">
      <%= link_to '返工', { action: 'rework', id: @task.id }, class: 'button is-danger' %>
    </div>
  </div>
</div>
