<div class="<%= task.done? ? 'level is-underline has-background-white-ter' : 'level is-underline' %>" id="task_<%= task.id %>" data-id="<%= task.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <div class="level-item">
      <i class="fas fa-bars fa-fw has-text-grey is-drawable"></i>
      <%= link_to task.title, { controller: controller_path, action: action_name, task_id: task.id, id: task.id } %>
    </div>
    <% if task.member %>
      <span class="tag"><%= task.member&.name %></span>
    <% end %>
  </div>
  <div class="level-right">
    <div class="level-item">
      <% if task.task_timer %>
        <i class="fas fa-hourglass-start has-text-success"></i>
      <% end %>
      <span data-show-target="item" style="visibility: hidden">
        <%= render partial: 'rail', locals: { task: task } %>
      </span>
      <%= link_to({ controller: 'tasks', action: 'show', id: task.id }, aria: { label: t('.destroy') }, data: { 'show-target': 'item', confirm: t('.confirm') }, method: :delete, remote: true, style: 'visibility: hidden') do %>
        <i class="fas fa-trash fa-fw has-text-danger"></i>
      <% end %>
    </div>
  </div>
</div>
