<div class="item" id="task_<%= task.id %>" data-id="<%= task.id %>" data-controller="show">

  <div class="ui avatar image">
    <span style="visibility: hidden;">
      <%= render partial: 'rail', locals: { task: task } %>
    </span>
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="content">
    <% if task.task_timer %>
      <i class="green hourglass start icon"></i>
    <% end %>
    <%= link_to task.title, me_task_path(task) %>
    <div class="right floated">
      <% if ['today'].include?(task.focus) %>
        <i class="fa-regular fa-sun"></i>
      <% end %>
      <% if task.project %>
        <span class="ui small grey label"><%= task.project.name %></span>
      <% end %>
      <% if task.member %>
        <span class="ui small label"><%= task.member.job_title.name %></span>
      <% end %>
      <span class="visibility-hidden">
        <%= link_to({ action: 'show', id: task.id }, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.confirm') }, method: 'delete', class: 'grey text') do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </span>
    </div>
  </div>
</div>
