<%= render 'filter_table' %>

<div data-controller="sortable" data-src="<%= url_for(action: 'index') %>">
  <%= render partial: 'index_item', collection: @tasks, as: :task %>
  <turbo-frame id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to({ action: 'new' }) do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </turbo-frame>
</div>

<%= paginate @tasks %>
