<%= render partial: 'project_bar', locals: { project: @project } %>

<%= render 'filter_table' %>

<div data-controller="sortable" data-src="/me/tasks/">
  <% @tasks.each do |task| %>
    <%= render partial: 'task', locals: { task: task } %>
  <% end %>
  <div id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to({ action: 'new', tasking_type: 'Project', tasking_id: @project.id }, aria: { label: t('.new') }, remote: true) do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
      <%= link_to({ action: 'new_template', tasking_type: 'Project', tasking_id: @project.id }, aria: { label: t('.task_template') }, remote: true) do %>
        <i class="fas fa-search-plus fa-fw"></i>
      <% end %>
    <% end %>
  </div>
</div>
