<%= render partial: 'project_bar', locals: { project: @project } %>

<%= render 'filter_table' %>

<div data-controller="sortable">
  <%= render partial: 'project_task', collection: @tasks, as: :task %>
  <turbo-frame id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to({ action: 'new', project_id: @project.id }, aria: { label: t('.new.title') }) do %>
        <i class="fa-solid fa-fw fa-plus"></i>
      <% end %>
      <%= link_to({ controller: 'projects', action: 'sync', id: @project.id }, aria: { label: t('.new.title') }) do %>
        <i class="fa-solid fa-fw fa-sync"></i>
      <% end %>
    <% end %>
  </turbo-frame>
</div>
