<%= render partial: 'project_bar', locals: { project: @project } %>

<%= render 'filter_table' %>

<div data-controller="sortable" data-src="/me/tasks/">
  <%= render partial: 'task', collection: @tasks, as: :task %>
  <div id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to({ action: 'new', project_id: @project.id }, aria: { label: t('.new') }) do %>
        <i class="fas fa-plus fa-fw"></i>
      <% end %>
      <%= link_to({ controller: 'projects', action: 'sync', id: @project.id }, aria: { label: t('.new') }) do %>
        <i class="fas fa-sync fa-fw"></i>
      <% end %>
    <% end %>
  </div>
</div>
