<%= render layout: 'show_layout' do %>
  <div id="detail_note">
    <%= @task.note %>
  </div>
  <div class="box">
    <%= render 'member' %>
    <%= render 'estimated_time' %>
    <%= render 'project_id' %>
  </div>
<% end %>
