<div class="level is-underline" id="task_<%= task.id %>" data-id="<%= task.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <div class="level-item">
      <i class="fas fa-bars fa-fw has-text-grey is-drawable"></i>
    </div>
    <div class="level-item">
      <% if task.task_timer %>
        <i class="green hourglass start icon"></i>
      <% end %>
      <%= link_to task.title, { action: 'show', id: task.id } %>
      <span style="visibility: hidden" data-show-target="item">
        <%= render partial: 'rail', locals: { task: task } %>
      </span>
    </div>
    <div class="level-item">
      <% if task.project %>
        <span class="tag is-link"><%= task.project.name %></span>
      <% end %>
    </div>
  </div>
  <div class="level-right">
    <span data-show-target="item" style="visibility: hidden">
      <%= link_to({ action: 'destroy', id: task.id }, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, method: 'delete', remote: true) do %>
        <i class="fas fa-trash fa-fw has-text-danger"></i>
      <% end %>
    </span>
  </div>
</div>
