<% content_for :nav do %>
  <%= render 'navs' %>
<% end %>

<%= render 'filter_table' %>

<div data-controller="sortable" data-src="/me/tasks/">
  <% @tasks.each do |task| %>
    <%= render partial: '_index/item', locals: { task: task } %>
  <% end %>
  <div class="item" id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to new_me_task_path, remote: true do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @tasks %>
