<%= render 'filter_table' %>

<div data-controller="sortable" data-src="/me/tasks/">
  <% @tasks.group_by(&:project).each do |project, tasks| %>
    <%= render partial: 'project', locals: { project: project } %>
    <%= render partial: 'index_item', collection: tasks, as: :task %>
  <% end %>
  <div id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to new_me_task_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</div>

<%= paginate @tasks %>
