<%= render 'filter_table' %>

<div data-controller="sortable">
  <% @tasks.group_by(&:project).each do |project, tasks| %>
    <%= render partial: 'project', locals: { project: project } if project %>
    <%= render partial: 'task', collection: tasks, as: :task %>
  <% end %>
  <turbo-frame id="item_add">
    <% if 'done' != params[:state] %>
      <%= link_to({ action: 'new' }) do %>
        <i class="fa-light fa-plus"></i>
      <% end %>
    <% end %>
  </turbo-frame>
</div>

<%= paginate @tasks %>
