<tr>
  <td><%= project_milepost.milepost_id %></td>
  <td><%= project_milepost.recorded_on %></td>
  <td><%= project_milepost.current %></td>
  <td>
    <%= link_to({ action: 'edit', id: project_milepost.id }, { aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fa-light fa-pencil"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: project_milepost.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fa-light fa-trash"></i>
    <% end %>
  </td>
</tr>
