<tr>
  <td><%= ProjectMilepost.human_attribute_name(:milepost_id) %></td>
  <td><%= @project_milepost.milepost_id %></td>
</tr>
<tr>
  <td><%= ProjectMilepost.human_attribute_name(:recorded_on) %></td>
  <td><%= @project_milepost.recorded_on %></td>
</tr>
<tr>
  <td><%= ProjectMilepost.human_attribute_name(:current) %></td>
  <td><%= @project_milepost.current %></td>
</tr>
