<div>
  <dt><%= ProjectMilepost.human_attribute_name(:milepost_id) %></dt>
  <dd><%= @project_milepost.milepost_id %></dd>
</div>
<div>
  <dt><%= ProjectMilepost.human_attribute_name(:recorded_on) %></dt>
  <dd><%= @project_milepost.recorded_on %></dd>
</div>
<div>
  <dt><%= ProjectMilepost.human_attribute_name(:current) %></dt>
  <dd><%= @project_milepost.current %></dd>
</div>
