<table class="ui very basic table">
  <thead>
    <tr>
      <th><%= TeamMember.human_attribute_name(:job_title_id) %></th>
      <th><%= TeamMember.human_attribute_name(:member_id) %></th>
      <th><%= TeamMember.human_attribute_name(:created_at) %></th>
      <th>
        <%= link_to new_my_team_member_path(@team), remote: true, class: 'ui mini icon button' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @team_members.each do |team_member| %>
    <tr>
      <td><%= team_member.job_title.name %></td>
      <td>
        <% if team_member.member_id.present? %>
          <%= link_to team_member.member.name %>
        <% else %>
          <%= link_to '邀请worker', member_my_team_member_path(@team, team_member), remote: true, class: 'ui blue label' %>
        <% end %>
      </td>
      <td><time><%= team_member.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to edit_my_team_member_path(@team, team_member), aria: { label: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to my_team_member_path(@team, team_member), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @team_members %>

