<%= render partial: 'project_bar', locals: { project: @project } %>

<section class="hero">
  <div class="here-body">
    <h3 class="title has-text-centered">项目预算： <%= @project.fund_amount %></h3>
  </div>
</section>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th><%= ProjectFund.human_attribute_name(:amount) %></th>
      <th><%= ProjectFund.human_attribute_name(:user) %></th>
      <th><%= ProjectFund.human_attribute_name(:note) %></th>
      <th><%= ProjectFund.human_attribute_name(:proof) %></th>
      <th>
        <%= link_to new_me_project_fund_path(@project), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @project_funds.each do |project_fund| %>
      <tr>
        <td><%= project_fund.amount %></td>
        <td>
          <% if project_fund.visible %>
            <%= link_to project_fund.user.name, user_path(project_fund.user_id) %>
          <% else %>
            <%= project_fund.user.name %>
          <% end %>
        </td>
        <td><%= project_fund.note %></td>
        <td>
          <% if project_fund.proof_blob %>
            <p><%= link_to project_fund.proof_blob.filename, project_fund.proof_blob.service_url, target: '_blank' %></p>
          <% end %>
        </td>
        <td>
          <%= link_to edit_me_project_fund_path(@project, project_fund), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to me_project_fund_path(@project, project_fund), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
