<div>
  <dt><%= Bench::Indicator.human_attribute_name(:facilitate_taxon_id) %></dt>
  <dd>
    <div class="tags has-addons">
      <span class="tag"><%= @indicator.facilitate_taxon.name %></span>
      <span class="tag" style="background-color: <%= @indicator.facilitate_taxon.color %>"></span>
    </div>
  </dd>
</div>
<div>
  <dt><%= Bench::Indicator.human_attribute_name(:name) %></dt>
  <dd><%= @indicator.name %></dd>
</div>
<div>
  <dt><%= Bench::Indicator.human_attribute_name(:description) %></dt>
  <dd><%= @indicator.description %></dd>
</div>
<div>
  <dt><%= Bench::Indicator.human_attribute_name(:reference_min) %></dt>
  <dd><%= @indicator.reference_min %></dd>
</div>
<div>
  <dt><%= Bench::Indicator.human_attribute_name(:unit) %></dt>
  <dd><%= @indicator.unit %></dd>
</div>

