<%= render partial: 'bench/my/projects/top_bar', locals: { project: @project } %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>职位</th>
      <th>Worker</th>
      <th>加入时间</th>
      <th>
        <%= link_to new_my_project_member_path(@project), class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @project_members.each do |project_member| %>
    <tr>
      <td><%= project_member.job_title.name %></td>
      <td>
        <% if project_member.member_id.present? %>
          <%= link_to project_member.member.name %>
        <% else %>
          <%= link_to '邀请worker', worker_my_project_member_path(@project, project_member), remote: true, class: 'ui blue label' %>
        <% end %>
      </td>
      <td><time><%= project_member.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to '编辑', edit_my_project_member_path(@project, project_member), class: 'ui pink label' %>
        <%= link_to '删除', my_project_member_path(@project, project_member), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @project_members %>
