<div class="item" data-id="<%= task_template.id %>" id="task_template_<%= task_template.id %>">

  <div class="ui avatar image">
    <i class="grey content icon"></i>
  </div>

  <div class="content">
    <%= link_to task_template.title, admin_task_template_path(task_template) %>
    <%= link_to edit_admin_task_template_path(task_template, item: 'title'), remote: true, class: 'grey text' do %>
      <i class="write icon"></i>
    <% end %>
    <%= link_to admin_task_template_path(task_template), method: :delete, data: { confirm: t('.confirm') }, class: 'grey text' do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>

</div>
