<% content_for :breadcrumb do %>
<h2 class="title has-text-centered">
  <%= project.name %>
</h2>
<% end %>

<div class="tabs">
  <ul>
    <li class="<%= active_helper(projects: 'tasks', tasks: ['show', 'content'], task_timers: 'index', active: 'is-active') %>"><%= link_to t('bench.me.projects.tasks.title'), tasks_admin_project_path(project) %></li>
    <li class="<%= active_helper(projects: ['show', 'edit'], active: 'is-active') %>"><%= link_to t('bench.me.projects.show.title'), admin_project_path(project) %></li>
    <li class="<%= active_helper(projects: 'task_templates', active: 'is-active') %>"><%= link_to t('bench.me.projects.task_templates.title'), task_templates_admin_project_path(project) %></li>
    <li class="<%= active_helper(controllers: 'fund_uses', active: 'is-active') %>"><%= link_to t('bench.admin.fund_uses.index.title'), admin_project_fund_uses_path(project) %></li>
    <li class="<%= active_helper(controllers: 'budgets', active: 'is-active') %>"><%= link_to t('bench.admin.budgets.index.title'), admin_project_budgets_path(project) %></li>
    <li class="<%= active_helper(controllers: 'expenses', active: 'is-active') %>"><%= link_to t('bench.admin.expenses.index.title'), admin_project_expenses_path(project) %></li>
    <li class="<%= active_helper(controllers: 'project_facilitates', active: 'is-active') %>"><%= link_to t('bench.admin.project_facilitates.index.title'), admin_project_project_facilitates_path(project) %></li>
  </ul>
</div>
