<h2 class="title has-text-centered">
  <%= project_taxon.name %>
</h2>

<div class="tabs">
  <ul>
    <li class="<%= active_helper(controllers: 'project_taxons', active: 'is-active') %>">
      <%= link_to({ controller: 'bench/admin/taxons', action: 'show', id: project_taxon.id }) do %>
        <i class="fas fa-info"></i><span><%= t('bench.admin.project_taxons.show.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'taxon_indicators', active: 'is-active') %>">
      <%= link_to({ controller: 'bench/admin/taxon_indicators', action: 'index', project_taxon_id: project_taxon.id }) do %>
        <i class="fas fa-grin"></i><span><%= t('bench.admin.taxon_indicators.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'project_taxon_facilitates', active: 'is-active') %>">
      <%= link_to({ controller: 'bench/admin/taxon_facilitates', action: 'index', project_taxon_id: project_taxon.id }) do %>
        <i class="fas fa-paint-roller"></i><span><%= t('bench.admin.project_taxon_facilitates.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'fund_budgets', active: 'is-active') %>">
      <%= link_to({ controller: 'bench/admin/fund_budgets', action: 'index', financial_type: 'ProjectTaxon', financial_id: project_taxon.id }) do %>
        <i class="fas fa-hand-holding-usd"></i><span><%= t('bench.admin.fund_budgets.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'task_templates', active: 'is-active') %>">
      <%= link_to({ controller: 'bench/admin/task_templates', project_taxon_id: project_taxon.id }) do %>
        <i class="fas fa-tasks"></i><span><%= t('bench.admin.task_templates.index.title') %></span>
      <% end %>
    </li>
  </ul>
</div>
