<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-seprator">
  <ul>
    <li><%= link_to t('bench.admin.project_taxons.index.title'), admin_project_taxons_path %></li>
    <li class="is-active"><%= project_taxon.name %></li>
  </ul>
</div>
<% end %>

<h2 class="title has-text-centered">
  <%= project_taxon.name %>
</h2>

<div class="tabs">
  <ul>
    <li class="<%= active_helper(controllers: 'project_taxons', active: 'is-active') %>">
      <%= link_to t('bench.admin.project_taxons.show.title'), { controller: 'bench/admin/project_taxons', action: 'show', id: project_taxon.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'project_preferences', active: 'is-active') %>">
      <%= link_to t('bench.admin.project_preferences.index.title'), { controller: 'bench/admin/project_preferences', action: 'index', project_taxon_id: project_taxon.id } do %>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'fund_budgets', active: 'is-active') %>">
      <%= link_to t('bench.admin.fund_budgets.index.title'), { controller: 'bench/admin/fund_budgets', action: 'index', financial_type: 'ProjectTaxon', financial_id: project_taxon.id } %>
    </li>
    <li class="<%= active_helper(controllers: 'task_templates', active: 'is-active') %>">
      <%= link_to t('bench.admin.task_templates.index.title'), { controller: 'bench/admin/task_templates', tasking_type: 'ProjectTaxon', tasking_id: project_taxon.id } %>
    </li>
  </ul>
</div>
