<table class="ui table">
  <thead>
    <tr>
      <th><%= Team.human_attribute_name(:name) %></th>
      <th><%= Team.human_attribute_name(:description) %></th>
      <th><%= Team.human_attribute_name(:members) %></th>
      <th>
        <%= link_to new_my_team_path, remote: true, class: 'ui teal button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.description %></td>
      <td>
        <% team.members.each do |member| %>
          <%= image_tag member.avatar, class: 'ui avatar image' %>
        <% end %>
      </td>
      <td>
        <%= link_to my_team_members_path(team), data: { tooltip: 'members' }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-user"></i>
        <% end %>
        <%= link_to my_team_path(team), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_my_team_path(team), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to my_team_path(team), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @teams %>
