<tr>
  <td><%= facilitate_indicator.indicator.name %></td>
  <td><%= facilitate_indicator.note %></td>
  <td>
    <%= link_to({ action: 'show', id: facilitate_indicator.id }, { aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: facilitate_indicator.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: facilitate_indicator.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
