<%= render partial: "bench/my/#{@piping.class.name.underscore.pluralize}/top_bar", locals: { @piping.class.name.underscore.to_sym => @piping } %>

<table class="ui very basic table">
  <thead>
    <tr>
      <th colspan="3">
        <%= link_to '新建', new_my_pipeline_path(piping_type: @piping.class.name, piping_id: @piping.id), class: 'ui teal right floated button' %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @pipelines.each do |pipeline| %>
    <tr>
      <td><%= pipeline.name %></td>
      <td>
        <div class="ui mini pad steps">
          <% pipeline.pipeline_members.each do |pipeline_member| %>
            <div class="step">
              <% if pipeline_member.member.avatar.attached? %>
                <%= image_tag pipeline_member.member.avatar, class: 'ui avatar image' %>
              <% end %>
              <div class="content">
                <span><%= pipeline_member.duty.name %></span>
                <span><%= pipeline_member.member.name %></span>
              </div>
            </div>
          <% end %>
        </div>
      </td>
      <td>
        <%= link_to '成员管理', new_admin_pipeline_member_path(pipeline, piping_type: params[:piping_type], piping_id: params[:piping_id]), remote: true, class: 'ui blue label' %>
        <%= link_to '编辑', edit_my_pipeline_path(pipeline), class: 'button is-small is-rounded is-light' %>
        <%= link_to my_pipeline_path(pipeline), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @pipelines %>
