<tr>
  <td>
    <%= image_tag facilitate.logo, size: 'image is-32' if facilitate.logo.attached? %>
    <%= facilitate.name %>
    <span class="tag"><%= link_to facilitate.facilitate_taxon.name, { action: 'index', facilitate_taxon_id: facilitate.facilitate_taxon_id } %></span>
  </td>
  <td><%= facilitate.description %></td>
  <td><time><%= facilitate.created_at.to_fs(:iso8601) %></time></td>
  <td><%= facilitate.price %></td>
  <td>
    <%= link_to({ controller: 'facilitate_providers', action: 'new', facilitate_id: facilitate.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-regular fa-search"></i><span><%= t('bench.org.facilitate_providers.index.title') %></span>
    <% end %>
    <%= link_to({ action: 'show', id: facilitate.id }, { aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fa-solid fa-circle-info"></i>
    <% end %>
  </td>
</tr>
