<tr>
  <td><%= link_to facilitate_provider.facilitate.name, facilitate_path(facilitate_provider.facilitate_id) %></td>
  <td><%= facilitate_provider.note %></td>
  <td>
    <% if facilitate_provider.selected %>
      <i class="fa-regular fa-check has-text-success"></i>
    <% else %>
      <i class="fa-regular fa-times has-text-danger"></i>
    <% end %>
  </td>
  <td><%= link_to '服务管理', { action: 'show', id: facilitate_provider.id } %></td>
  <td>
    <%= link_to({ action: 'edit', id: facilitate_provider.id }, { aria: { label: t('.edit.title') }, class: 'button is-small is-rounded' }) do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: facilitate_provider.id }, { method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded' }) do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </td>
</tr>
