<h2 class="title text-centered">
  <%= taxon.name %>
</h2>

<div class="tabs is-centered">
  <ul>
    <li class="<%= active_helper(controllers: 'taxons', active: 'is-active') %>">
      <%= link_to({ controller: 'taxons', action: 'show', id: taxon.id }) do %>
        <i class="fa-solid fa-circle-info"></i>
        <span class="ml-1"><%= t('.taxons.show.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'taxon_indicators', active: 'is-active') %>">
      <%= link_to({ controller: 'taxon_indicators', action: 'index', taxon_id: taxon.id }) do %>
        <i class="fa-solid fa-grin"></i>
        <span class="ml-1"><%= t('.taxon_indicators.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'taxon_facilitates', active: 'is-active') %>">
      <%= link_to({ controller: 'taxon_facilitates', action: 'index', taxon_id: taxon.id }) do %>
        <i class="fa-solid fa-paint-roller"></i>
        <span class="ml-1"><%= t('.taxon_facilitates.index.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'fund_budgets', active: 'is-active') %>">
      <%= link_to({ controller: 'taxons', action: 'budgets', id: taxon.id }) do %>
        <i class="fa-solid fa-hand-holding-usd"></i>
        <span class="ml-1"><%= t('.taxons.budgets.title') %></span>
      <% end %>
    </li>
    <li class="<%= active_helper(controllers: 'task_templates', active: 'is-active') %>">
      <%= link_to({ controller: 'task_templates', taxon_id: taxon.id }) do %>
        <i class="fa-solid fa-tasks"></i>
        <span class="ml-1"><%= t('.task_templates.index.title') %></span>
      <% end %>
    </li>
  </ul>
</div>
