<th><%= Bench::Indicator.human_attribute_name(:facilitate_taxon_id) %></th>
<th><%= Bench::Indicator.human_attribute_name(:name) %></th>
<th><%= Bench::Indicator.human_attribute_name(:description) %></th>
<th>
  <p><%= Bench::Indicator.human_attribute_name(:reference_min) %></p>
  <p><%= Bench::Indicator.human_attribute_name(:reference_max) %></p>
</th>
<th><%= Bench::Indicator.human_attribute_name(:unit) %></th>
