<td>
  <div class="tags has-addons">
    <span class="tag"><%= model.facilitate_taxon.name %></span>
    <span class="tag" style="background-color: <%= model.facilitate_taxon.color %>"></span>
  </div>
</td>
<td><%= model.name %></td>
<td><%= model.description %></td>
<td>
  <p><%= model.reference_min %></p>
  <p><%= model.reference_max %></p>
</td>
<td><%= model.unit %></td>
