<div class="<%= active_helper(modules: 'bench/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('bench.panel.taxons.index.title'), { controller: 'bench/panel/taxons' }, class: active_helper(controllers: ['taxons', 'facilitate_providers'], active: 'is-active') %>
    <%= link_to t('bench.panel.facilitate_taxons.index.title'), { controller: 'bench/panel/facilitate_taxons' }, class: active_helper(controllers: ['facilitate_taxons'], active: 'is-active') %>
    <%= link_to t('bench.panel.indicators.index.title'), { controller: 'bench/panel/indicators' }, class: active_helper(controllers: ['indicators'], active: 'is-active') %>
    <%= link_to t('bench.panel.facilitates.index.title'), { controller: 'bench/panel/facilitates' }, class: active_helper(controllers: ['facilitates', 'facilitate_providers', 'facilitate_indicators'], active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-solid fa-share-alt"></i>
    <span><%= t('bench.panel.title') %></span>
    <i class="fa-solid dropdown"></i>
  </a>
</div>
