<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-fw fa-user-ninja has-text-primary"></i>
    <span><%= t('bench.panel.title') %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'bench/panel/taxons' }, class: 'column has-block-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-user-ninja"></i>
        </div>
        <div class="has-text-grey is-size-7 mt-1"><%= t('bench.panel.taxons.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'bench/panel/indicators' }, class: 'column has-block-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-user-ninja"></i>
        </div>
        <div class="has-text-grey is-size-7 mt-1"><%= t('bench.panel.indicators.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
