<div class="level-left">
  <div class="image" id="play_task_<%= @task.id %>">
    <% if @task.task_timer %>
      <%= link_to pause_my_task_task_timer_path(@task, @task.task_timer), method: 'patch', remote: true do %>
        <i class="grey pause icon"></i>
      <% end %>
    <% else %>
      <%= link_to my_task_task_timers_path(@task), method: 'post', remote: true do %>
        <i class="grey play icon"></i>
      <% end %>
    <% end %>
  </div>
  <%= form_with model: [:my, @task], html: { class: 'form is-horizontal' } do |f| %>
    <div class="field-body">
      <div class="field">
        <%= f.text_field :title, class: 'input' %>
      </div>
      <div class="field is-narrow">
        <%= f.submit '保存', class: 'button is-primary' %>
        <%= link_to '取消', { action: 'index' }, { class: 'button is-light' } %>
      </div>
    </div>
  <% end %>
</div>
