<%= form_with model: [:my, @task], class: 'ui form', html: { style: 'width: 100%;' } do |f| %>
  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :project_id %>
  <div class="ui action input">
    <%= f.text_field :title, required: 'required' %>
    <%= f.submit '保存' %>
    <a class="ui grey button" onclick="removeForm()">取消</a>
  </div>
<% end %>

