<div class="level is-underline" id="task_<%= task.id %>" data-id="<%= task.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <div class="level-left">
    <div class="level-item">
      <i class="fa-solid fa-fw fa-bars text-grey is-drawable"></i>
    </div>
    <div class="level-item">
      <%= link_to task.title, { action: 'show', id: task.id } %>
    </div>
    <%= render partial: 'task_timer', locals: { task: task } %>
  </div>
  <div class="level-right">
    <div class="level-item">
      <%= render partial: 'focus_item', locals: { task: task } %>
    </div>
    <div class="level-item">
      <%= render partial: 'state_item', locals: { task: task } %>
    </div>
    <div class="level-item">
      <time data-controller="time" class="text-grey"><%= task.created_at.to_fs(:iso8601) %></time>
    </div>
    <span data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'destroy', id: task.id }, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, method: 'delete', class: 'text-danger') do %>
        <i class="fa-solid fa-fw fa-trash"></i>
      <% end %>
    </span>
  </div>
</div>
