<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= link_to t('.edit'), edit_admin_project_project_facilitate_path(@project, @project_facilitate), class: 'button is-small is-link', remote: true %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= ProjectFacilitate.human_attribute_name(:facilitate_id) %></td>
      <td><%= @project_facilitate.facilitate.name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= ProjectFacilitate.human_attribute_name(:provider_id) %></td>
      <td><%= @project_facilitate.provider&.name %></td>
    </tr>
  </tbody>
</table>
