<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= ProjectFacilitate.human_attribute_name(:facilitate_id) %></th>
      <th><%= ProjectFacilitate.human_attribute_name(:provider_id) %></th>
      <th>
        <%= link_to new_admin_project_project_facilitate_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @project_facilitates.each do |project_facilitate| %>
    <tr>
      <td><%= project_facilitate.facilitate_id %></td>
      <td><%= project_facilitate.provider_id %></td>
      <td>
        <%= link_to admin_project_project_facilitate_path(@project,project_facilitate), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_project_project_facilitate_path(@project,project_facilitate), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_project_project_facilitate_path(@project,project_facilitate), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @project_facilitates %>
